* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --primary-hue: 27;
    --primary-saturation: 100%;
    --primary-light: 50%;
    --primary-alpha: 0.848;

    --fs: 1.1rem;

    /* colors */
    --bg-color: hsl(180, 100%, 4%);
    --font-color: rgba(223, 216, 216, 0.892);
    
    --primary-color: hsla(var(--primary-hue), var(--primary-saturation), var(--primary-light), var(--primary-alpha));

    --primary-color-secondary: hsl(27, 100%, 64%);

    --accent-color: hsl(176, 100%, 42%);
    --secondary-color: hsla(176, 100%, 37%, 0.681);

    --todo-bg-color: rgba(226, 136, 46, 0.244);
}
h1{
    text-align: center;
    position: sticky;
    top: 0;
}

/* utility */
.slideOut{
    animation: slideOut .5s ease-in-out;
}
.slideInLeft{
    animation: slideInLeft .5s ease-in-out;
}


body{
    display: grid;
    place-content: center;
    font-family: sans-serif,'Lucida Sans';
    font-size: var(--fs);
    background-color: var(--bg-color);
    color: var(--font-color);
    background-color: var(--bg-color);
    width: 100%;
    max-width: 1000px;
    margin: auto;
    padding: .5rem;
    position: relative;
}
body::before{
    position: absolute;
    content: ' ';
    width: 100%;
    height: 100%;
    z-index: -1;
}
button{
    border-radius: 8px;
    border: none;
    font: inherit;
    color: inherit;
    cursor: pointer;
    transition: all .5s;
    font-weight: bold;
}
button:hover{
    background-color: var(--primary-color-secondary);
}
input{
    color: rgb(181, 181, 181);
    background-color: transparent;
    padding: .5rem;
    border: 2px solid var(--primary-color);
    border-radius: 8px;
    font-size: inherit;
}
input:focus{
    border-color: var(--accent-color);
    outline: none;
}

.add-button{
    background-color: var(--primary-color);
}
.todo-checkbox{
    accent-color: var(--accent-color);
    width: 30px;
    height: 30px;
    justify-self: end;
    cursor: pointer;
}

.article{
    padding: 1rem;
    width: clamp(400px, 100vw, 80vw);
}

.input-container, 
.todo{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    padding: .8rem;
    gap: .5rem;

}
.input-container{
    background-color: hsla(179, 100%, 28%, 0.256);
}

.todos-container {
    background-color: hsla(179, 100%, 17%, 0.362);
    display: flex;
    padding: 1rem;
    flex-direction: column;
    gap: .5rem;
    overflow-y: scroll;
    overflow-x: hidden;
    max-height: 95dvh;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

.todo{
    border-radius: 1rem;
    justify-items: start;
    align-items: center;
    background-color: var(--todo-bg-color);
    grid-template-columns: 2fr 1fr 1fr;
}
.todo-name{

}
@keyframes slideInLeft {
    from{
        transform: translateX(-20px);
    }
    to{
        transform: translateX(0);
    }
}

.popup, 
.right-click-menu{
    position: fixed;
    color: black;
    padding: 1rem .4rem .4rem;
    border-radius: 8px;
    background-color: rgb(206, 204, 202); 
    /* background-color: ; */
}

.popup{
    top: 50%;
    left: 50%;
    animation: slideUp .4s ease-out;
    transform: translate(-50%, -50%);
    display: none;
    z-index: 2;
    width: max(150px, 200px);
    height: max(100px, 150px);
}
.popup--display-block{
    display: block;
}
.popup__ok{
    color: black;
    font-weight: bold;
    background-color: var(--primary-color);
    padding: .3rem .8rem;
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
    color: rgb(213, 208, 208);
}

.right-click-menu{
    position: fixed;
    top: 0;
    left: 0;
    padding: 1rem 1rem 1rem 3rem;
    color: gray;
    display: none;
    z-index: 1;
}
.right-click-menu__ul{
    display: flex;
    flex-direction: column;
    row-gap: 1.2rem;
    list-style-type: none;
}

.right-click-menu__ul li{
    cursor: pointer;
    transition: .5s;
    white-space: nowrap;
}
.right-click-menu__ul li:hover{
    color: rgb(181, 161, 161);
}
.right-click-menu__ul li:last-child:hover{
    color: var(--primary-color);
}


 
/* updating todo section */
.updating{
    display: flex;
    column-gap: 1rem;
    grid-column: 1 / 4;
    width: 100%;
    justify-content: space-between;
    display: none;
    font-size: .9rem;
}
.updating--display-flex{
    display: flex;
}
.updating input{
    padding: .3em;
}
.updating-todo-input{
    width: 150px;
}
.save-changes, 
.cancel-updating {
    padding: .3em 1rem;
}
.save-changes {
    background-color: var(--secondary-color);
}
.save-changes:hover{
    background-color: rgb(1, 85, 86);
}
.cancel-updating {
    background-color: transparent;
    border: 2px solid var(--accent-color);
}
.cancel-updating:hover{
    background-color: rgb(1, 85, 86);
}

@keyframes slideOut {
    from{
        transform: translateX(0);
    }
    100%{
        transform: translateX(70px);
        opacity: 0;
    };
}

@keyframes slideUp {
    from{
        top: 52%;
    }
    to{
        top: 50%;
    }
}


@media screen and (max-width: 600px) {
    .article {
        padding: .4rem;
        width: 100vw;
    }
}
@media screen and (max-width: 450px) {
    .input-container{
        grid-template-columns: 1fr;
    }
    .add-button{
        padding: .5rem 0;
    }
}

