:root{
    --load-icon-width: 50px;
    --load-icon-height: 50px;
}
body::before, 
body::after{
    content: '';
    width: 20px;
    position: absolute;
    height: 20px;
    /* background-color: green; */
}
body::after{
    top: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    background-color: rgb(245, 245, 245);
    animation: removeCover .8s ease-out 1;
    animation-delay: 2s;
}
body::before{
    z-index: 1;
    top: 25%;
    bottom: 50%;
    right: 50%;
    left: 50%;

    border: 3px solid rgb(87, 87, 87);
    width: var(--load-icon-width);
    height: var(--load-icon-height);
    border-radius: 50%;
    border-right-color: transparent;
    animation: roll .8s linear 2;
}

@keyframes removeCover {
    0%{
        height: 100vh;
    }
    100%{
        height: 0;
    }
}

@keyframes roll {
    to {
        transform: rotate(360deg);
        opacity: 0;
    }
}

@media screen and (max-width: 500px) {   
    :root{
        --load-icon-width: 35px;
        --load-icon-height: 35px;
    }
}
